# Flutter/Dart/Pub
**/.dart_tool/
**/.packages
**/build/
**/.pub-cache/
**/.pub/

# Android
**/.gradle
**/android/app/src/main/gen/
**/android/app/build/
**/.cxx/

# iOS/macOS
**/*.pbxuser
!default.pbxuser
**/*.mode1v3
!default.mode1v3
**/*.mode2v3
!default.mode2v3
**/*.perspectivev3
!default.perspectivev3
**/xcuserdata
**/*.xccheckout
**/*.moved-aside
**/DerivedData
**/*.hmap
**/*.ipa
**/*.xcuserstate

# IDEs
**/.idea/
**/.vscode/
**/*.iml
